html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
  padding: 30px 0 30px 50px;
  background: #ffde25;
}

nav {
  margin-bottom: 20px;
}
.separator {
  border-right: 1px solid lightgrey;
  margin: 0 20px 0 0;
}

.social {
  margin-top: 20px;
  gap: 15px;
}

a:link {
  text-decoration: none;
  color: red;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}

#code {
  background-color: #e6e6e6;
  padding: 10px 0 10px 15px;
  border-radius: 5px;
}

#code:first-of-type strong {
  background-color: rgb(211, 211, 211);
}
