html,
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

h1 {
  padding: 30px 0 30px 50px;
  background: #ffde25;
}

.separator {
  border-right: 1px solid lightgrey;
  margin: 0 20px 0 0;
}

.social {
  margin-top: 20px;
  gap: 15px;
}

a:link {
  text-decoration: none;
  color: red;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
